*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.container{
    position: relative;
    display: flex;
   flex-direction: column;
   margin: auto;
    justify-content: center;
    align-items: center;
   
    max-width: 1200px;

}
.container>div>h2{
    position: relative;
    margin-top: 1.2rem;
    font-size: 40px;
    color: crimson;
}
.card{
  position: relative;
  display: flex;
 flex-direction: column;
 width: 32%;
 box-shadow: 0 0 2px black;
border-radius: 5px;
 
  
}
.card>img{
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    filter: grayscale(100%);
    object-fit: cover;
    width: 350px;
    height: 400px;
}
.tour{
    position: relative;
    margin-left: 0.2rem;
    margin-top: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.2rem;
}
.tour-info{
    position: relative;
    margin-left: 0.8rem;
    margin-top: 1.2rem;

}
.btn-red{
    position: relative;
    margin-top: 1.2rem;
    margin-left: 8rem;
    margin-bottom: 1.2rem;
    height: 40px;
    width: 35%;
    background-color: crimson;
    border: none;
    font-size: 18px;
    color: white;
    border-radius:  6px;
}
.read-more{
    color: rgb(14, 186, 186);
}
.card:hover{
    transform: scale(1.03);
    transition: all 1s;
}
.card:hover img{
    filter: grayscale(0%);
    transition: all 1s;
}
.btn-red:before{
    content:"";
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: black;
    width: 100%;
    transform: scalex(1);
}                   

